<h3><%= @question.name %></h3>
<br>

<% if @question.conditions.any? %>
  <ul>
    <% @question.conditions.each do |condition| %>
      <li>
        <%= condition.description %> |
        <%= link_to "Edit", edit_question_condition_path(@question, condition) %> |
        <%= link_to "Delete", question_condition_path(@question, condition),
                                      :data => {:confirm => "Are you sure?",
                                                      :method => "delete"} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>There are no conditions yet.</p>
<% end %>

<br>
<p><%= link_to "Add a condition", new_question_condition_path(@question) %></p>
<p><%= link_to "Edit", edit_question_path(@question) %></p>
<p><%= link_to "Delete Question", question_path(@question),
                              :data => {:confirm => "Are you sure?",
                                              :method => "delete"}%></p>
