<%= render('layouts/errors', :object => @condition) %>

<%= form_for [@question, @condition] do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.check_box :chosen %>
  <br><br>
  <p><%= f.submit %></p>
<% end %>
